aside {
    width: 15%;
}

.navbar {
    background-color: rgb(236, 236, 236);
    height: 100vh;
    padding: 10px 0;
    border-right: 1px solid rgba(0,0,0,.1);
}

.separador-navbar {
    border: 0;
    background-color: rgba(0,0,0,.1);
    height: 1px;
    width: calc(100% - 30px);
    margin: 10px 10px;
}

.app-navbar {
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
}

.app-navbar:hover {
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
}

.avatar {
    height: 102px;
    z-index: 60;
    display: flex;
    border: 1px solid rgba(0,0,0,.1);
}

.container-img-avatar {
    width: 35%;
    height: 100px;
    display: inline-block;
}

.container-descricao-avatar {
    width: 64%;
    height: 100px;
    padding: 15px;
    display: inline-block;


}

.separador-avatar {
    color: rgba(0,0,0,.1);
    height: calc(100% - 30px);
    width: 1%;
    margin: 10px 0px;
    display: inline-block;
    border: 0;
    background-color: rgba(0,0,0,.1);
}

.avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 15px;
}

.titulo-avatar {
    font-size: 12.5px;
    margin: 5px 0;
}

.descricao-avatar {
    font-size: 10px;
}